#h,#su{
text-align: center; font-size: 35px; font-weight: bolder;
color : #33ff66;
}
#su{color:#ff0000;}
	#o{
background-image:url('r.JPG!D');
background-size: 1400px,1400px;
background-repeat: no-repeat;
}
#b,#k{
margin-top :300px;
font-size :25px;
color : #33ffff;	
}
#v{
background-image:url("sa.jpg")	 ;
background-size: 1400px, 1400px		;
background-repeat: no-repeat;

 }
  #k{color:#3300ff;}

